@use "./variables";

.header {
  height: 14rem;
  text-align: center;
  padding: 2rem;
  background-image: url("/pattern-bg.png");
  background-position: center;
  background-size: cover;

  &__title {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 500;
    color: variables.$white;
  }
}

.search {
  display: flex;
  align-items: center;
  margin: 1.5rem auto;

  &__input,
  &__btn {
    height: 3.5rem;
    box-sizing: border-box;
    border: none;
  }

  &__input {
    width: 85%;
    padding: 0 1.5rem;
    border-radius: variables.$border-radius 0 0 variables.$border-radius;
    font-size: 1rem;
    color: variables.$dark-gray;
  }
  &__btn {
    display: grid;
    place-content: center;
    width: 15%;
    border-radius: 0 variables.$border-radius variables.$border-radius 0;
    background-color: variables.$black;
  }
}

.details {
  border-radius: variables.$border-radius;
  background-color: variables.$white;
  list-style-type: none;
  padding: 0.5rem 4rem;
  margin: 0 auto;
  z-index: 100;
  position: sticky;

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin: 1.3rem 0;
  }

  &__title,
  &__info {
    margin: 0;
    padding: 0;
  }

  &__title {
    font-size: 0.65rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: variables.$dark-gray;
  }

  &__info {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

@media all and (min-width: variables.$tablet-view) {
  .search,
  .details {
    width: 33rem;
    box-sizing: border-box;
  }
}
@media all and (min-width: variables.$desktop-view) {
  .header {
    height: 14rem;
    padding: 3rem;
    &__title {
      font-size: 2rem;
    }
  }
  .search {
    width: 35rem;
    box-sizing: border-box;
    margin: 2rem auto;
    &__input {
      width: 90%;
    }
    &__btn {
      width: 10%;
    }
  }
  .details {
    width: 80%;
    min-height: 8rem;
    margin-top: 3.3rem;
    padding: 1.1rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    &__field {
      width: 20%;
      text-align: start;
      margin-inline: 1rem;
      gap: 1rem;

      &:nth-child(4),
      &:nth-child(2),
      &:nth-child(3) {
        &::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 45%;
          top: 50%;
          transform: translate(0, -50%);
          margin-left: -2.5%;
          background-color: #ccc;
        }
      }
    }
    &__title {
      font-size: 0.75rem;
    }
    &__info{
        font-size: 1.5rem;
        font-weight: 500;
    }
  }
}
