@use "./styles/variables";
@use "./styles/header";
@use "./styles/main";

body{
    padding: 0;
    margin: 0;
    font-family: Rubik, sans-serif;
    
}

.not-connected{
    width: 50%;
    height: auto;
    @media all and (min-width:variables.$desktop-view) {
        width: 35%;
    }
}